main {
  width: 1200px;
}
/* Header */
.site-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
}

.site-header__top-start {
  display: flex;
  align-items: center;
}

.site-header__logo-image {
  width: 276px;
  height: 45px;
}

.header-price-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header-price-item {
  margin-right: 25px;
}

.header-price-text {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.header-price-text__icon {
  color: #2959ce;
}

.site-header__top-end {
  display: flex;
  align-items: center;
}

.search-box {
  width: 275px;
  background-color: #fff;
  border-radius: 60px;
  padding: 15px;
}

.search-box-text {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
  padding-left: 41px;
}

.site-lenguage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 13px;
  padding: 3px;
  line-height: 12px;
  background: #dce6ff;
  border-radius: 39px;
}
.site-lenguage__uz,
.site-lenguage__ru {
  text-decoration: none;
  color: #000000;
}

.site-lenguage__ru {
  padding-right: 13px;
}

.site-lenguage__uz {
  padding: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

.header-signIn-btn {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 19px;
  background: #7296ec;
  color: #ffffff;
  border-radius: 10px;
}
.site-navigation {
  width: 1200px;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navigation-item {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.navigation-item__link {
  color: #7f7f7f;
  text-decoration: none;
}

/* Latest news */
.site-advertising__link {
  width: 1200px;
  height: 128px;
}
.latest-news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}
.latest-news__item {
  width: 394px;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
}
.width-large {
  width: 358px;
}
.width-middle {
  width: 346px;
}
.width-small {
  width: 338px;
}
.latest-news__item-title {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.latest-news__item-text {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
}

.latest-news__item-image {
  width: 359px;
  height: 165px;
}

.latest-news-publish-author {
  display: flex;
  align-items: center;
}

.publish-company {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
  margin-left: 10px;
}

.banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  height: 100px;
  border-radius: 10px;
  background-color: #ffd7ba;
}

.banner-title {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  width: 404px;
}
.banner-btn {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 13px 30px;
  border-radius: 10px;
  line-height: 24px;
  background: #f78b3b;
  color: #ffffff;
  text-decoration: none;
}

/* Country news */
.country-news-item {
  display: flex;
  align-items: center;
  width: 797px;
  background-color: #f6f6f6;
  border-radius: 15px;
  margin-bottom: 10px;
}

.country-news-item__info {
  width: 535px;
}

.about-country__title {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.country-news-item__title {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.country-news-item__text {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
}

.country-news-publish-company {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}

.loading-btn {
  font-family: "Rubik", "Arial", sans-serif;
  width: 797px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #f6f6f6;
  color: #000000;
  margin: 10px 0;
  padding: 17px;
  border-radius: 10px;
}

.short-news {
  width: 393px;
}

.short-news-list {
  list-style: none;
}

.short-news-info {
  background-color: #f6f6f6;
  border-radius: 15px;
}

.short-news-info__title {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  line-height: 28px;
  color: #000000;
}

.about-country-parts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.short-news-item__title {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.short-news-company {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}
.country-news-image {
  width: 210px;
  height: 165px;
  margin-right: 15px;
}

.country-news-item__publish-wrapper {
  display: flex;
  align-items: center;
}

.olmos-banner-image {
  width: 393px;
  height: 338px;
}

/* Footer */
.site-footer {
  width: 1200px;
}

.site-footer {
  background-color: #7297ef;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-logo-text-wrapper {
  width: 229px;
}

.footer-category-list {
  list-style: none;
}

.footer-logo-description {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
}

.social-media-text-wrapper {
  width: 161px;
}

.social-media-list {
  list-style: none;
}

.footer-category-item {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 25px;
}
.footer-category-item__link {
  text-decoration: none;
  color: #ffffff;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-media-text-wrapper {
  width: 161px;
}
.social-media-text {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.social-media-list {
  display: flex;
  align-items: center;
}
.social-media-item {
  margin-left: 25px;
}
